USE [master]
GO
/****** Object:  Database [PIMS-Hospital] ******/
CREATE DATABASE [PIMS-Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIMS-Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PIMS-Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIMS-Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PIMS-Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIMS-Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIMS-Hospital]
GO
USE [PIMS-Hospital]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Qualification] [nvarchar](max) NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[Contact] [int] NOT NULL,
	[Specilization_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drug_Category]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug_Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Drug_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drug_Inventory]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug_Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit_Selling_Price] [decimal](18, 2) NOT NULL,
	[Reorder_Level] [int] NOT NULL,
	[Unit_Buying_Price] [decimal](18, 2) NOT NULL,
	[Issued_Quantity] [int] NOT NULL,
	[Drug_Type] [nvarchar](max) NULL,
	[Shelf] [nvarchar](max) NULL,
	[availableQuantity] [int] NOT NULL,
	[Drug_Category_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Drug_Inventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drug_Purchase]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug_Purchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Drug_Inventry_ID] [int] NULL,
	[Drug_Supplier_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Drug_Purchase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drug_Supplier]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug_Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Contact] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Drug_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Channel]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Channel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelDate] [datetime] NOT NULL,
	[ChannelTime] [datetime] NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[ChannelNumber] [int] NOT NULL,
	[Doctor_ID] [int] NULL,
	[Patient_ID] [int] NULL,
	[Patient_Contact] [int] NULL,
 CONSTRAINT [PK_dbo.Patient_Channel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Channel_Cancel]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Channel_Cancel](
	[ID] [int] NOT NULL,
	[ChannelDate] [datetime] NOT NULL,
	[ChannelTime] [datetime] NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[ChannelNumber] [int] NOT NULL,
	[Doctor_ID] [int] NULL,
	[Patient_ID] [int] NULL,
	[Patient_Contact] [int] NULL,
 CONSTRAINT [PK_dbo.Patient_Channel_Cancel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Contact] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DOB] [nvarchar](max) NULL,
	[NIC] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrackNo] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[dateTime] [datetime] NOT NULL,
	[PaymentType] [nvarchar](max) NULL,
	[Contact] [int] NOT NULL,
	[Prescription_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription_details]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription_details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[discription] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[TrackNo] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[GetDrug_Inventory_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Prescription_details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrackNo] [int] NOT NULL,
	[Deseas_Type] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
	[Doctor_ID] [int] NULL,
	[Patient_ID] [int] NULL,
	[Patient_Contact] [int] NULL,
 CONSTRAINT [PK_dbo.Prescriptions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specilizations]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specilizations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Specilizations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[contact] [int] NOT NULL,
	[email] [nvarchar](128) NOT NULL,
	[nic] [nvarchar](max) NULL,
	[dob] [datetime] NOT NULL,
	[role] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([ID], [Name], [Qualification], [Fee], [Contact], [Specilization_ID]) VALUES (1, N'Doc 1', N'MBBS', CAST(1000.00 AS Decimal(18, 2)), 123456789, 1)
INSERT [dbo].[Doctors] ([ID], [Name], [Qualification], [Fee], [Contact], [Specilization_ID]) VALUES (2, N'Doc 2', N'MBBS', CAST(1200.00 AS Decimal(18, 2)), 12345678, 2)
INSERT [dbo].[Doctors] ([ID], [Name], [Qualification], [Fee], [Contact], [Specilization_ID]) VALUES (3, N'Doc 3', N'MBBS', CAST(1200.00 AS Decimal(18, 2)), 1234567, 3)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Drug_Category] ON 

INSERT [dbo].[Drug_Category] ([ID], [Name], [Discription]) VALUES (1, N'Cat 1', NULL)
INSERT [dbo].[Drug_Category] ([ID], [Name], [Discription]) VALUES (2, N'Cat 2', NULL)
INSERT [dbo].[Drug_Category] ([ID], [Name], [Discription]) VALUES (3, N'Cat 3', NULL)
SET IDENTITY_INSERT [dbo].[Drug_Category] OFF
SET IDENTITY_INSERT [dbo].[Drug_Inventory] ON 

INSERT [dbo].[Drug_Inventory] ([ID], [Name], [Description], [Unit_Selling_Price], [Reorder_Level], [Unit_Buying_Price], [Issued_Quantity], [Drug_Type], [Shelf], [availableQuantity], [Drug_Category_ID]) VALUES (5, N'Drug 1', N'drug for abc disease', CAST(100.00 AS Decimal(18, 2)), 1000, CAST(20.00 AS Decimal(18, 2)), 7, N'type info', N'1', 10025, 1)
INSERT [dbo].[Drug_Inventory] ([ID], [Name], [Description], [Unit_Selling_Price], [Reorder_Level], [Unit_Buying_Price], [Issued_Quantity], [Drug_Type], [Shelf], [availableQuantity], [Drug_Category_ID]) VALUES (6, N'Drug 2', N'drug for abc disease', CAST(50.00 AS Decimal(18, 2)), 200, CAST(12.00 AS Decimal(18, 2)), 37, N'type info', N'1', 5983, 2)
INSERT [dbo].[Drug_Inventory] ([ID], [Name], [Description], [Unit_Selling_Price], [Reorder_Level], [Unit_Buying_Price], [Issued_Quantity], [Drug_Type], [Shelf], [availableQuantity], [Drug_Category_ID]) VALUES (7, N'Drug 3', N'drug for abc disease', CAST(25.00 AS Decimal(18, 2)), 200, CAST(3.25 AS Decimal(18, 2)), 22, N'type info', N'1-A', 4040, 3)
SET IDENTITY_INSERT [dbo].[Drug_Inventory] OFF
SET IDENTITY_INSERT [dbo].[Drug_Purchase] ON 

INSERT [dbo].[Drug_Purchase] ([ID], [Date], [Quantity], [Drug_Inventry_ID], [Drug_Supplier_ID]) VALUES (1, CAST(N'2018-01-02T00:00:00.000' AS DateTime), 25, 5, 2)
INSERT [dbo].[Drug_Purchase] ([ID], [Date], [Quantity], [Drug_Inventry_ID], [Drug_Supplier_ID]) VALUES (2, CAST(N'2018-01-02T00:00:00.000' AS DateTime), 125, 9, 3)
INSERT [dbo].[Drug_Purchase] ([ID], [Date], [Quantity], [Drug_Inventry_ID], [Drug_Supplier_ID]) VALUES (3, CAST(N'2018-01-02T00:00:00.000' AS DateTime), 200, 7, 2)
SET IDENTITY_INSERT [dbo].[Drug_Purchase] OFF
SET IDENTITY_INSERT [dbo].[Drug_Supplier] ON 

INSERT [dbo].[Drug_Supplier] ([ID], [Name], [Contact], [Email], [Address]) VALUES (2, N'Sup 1', 77123456, N'aa@gmail.com', N'11 xx rd TV')
INSERT [dbo].[Drug_Supplier] ([ID], [Name], [Contact], [Email], [Address]) VALUES (3, N'Sup 2', 77712345, N'b@b.com', N'22 yy aa gg')
INSERT [dbo].[Drug_Supplier] ([ID], [Name], [Contact], [Email], [Address]) VALUES (4, N'Sup 3', 1122553, N'c@c.com', N'33 aa yy aa')
SET IDENTITY_INSERT [dbo].[Drug_Supplier] OFF
SET IDENTITY_INSERT [dbo].[Patient_Channel] ON 

INSERT [dbo].[Patient_Channel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (5, CAST(N'2018-01-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T08:14:00.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), 0, 3, 1, NULL, 776005537)
INSERT [dbo].[Patient_Channel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (6, CAST(N'2018-01-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T08:16:00.000' AS DateTime), CAST(2000.00 AS Decimal(18, 2)), 0, 1, 4, NULL, 776005537)
INSERT [dbo].[Patient_Channel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (8, CAST(N'2018-01-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T19:02:00.000' AS DateTime), CAST(1800.00 AS Decimal(18, 2)), 0, 1, 7, NULL, 776005537)
SET IDENTITY_INSERT [dbo].[Patient_Channel] OFF
INSERT [dbo].[Patient_Channel_Cancel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (2, CAST(N'2018-01-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T08:13:00.000' AS DateTime), CAST(1700.00 AS Decimal(18, 2)), 0, 1, 2, NULL, 776005535)
INSERT [dbo].[Patient_Channel_Cancel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (3, CAST(N'2018-01-03T00:00:00.000' AS DateTime), CAST(N'1900-01-01T08:13:00.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), 0, 2, 1, NULL, 776005536)
INSERT [dbo].[Patient_Channel_Cancel] ([ID], [ChannelDate], [ChannelTime], [Fee], [RoomNumber], [ChannelNumber], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (7, CAST(N'2018-02-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T08:16:00.000' AS DateTime), CAST(1700.00 AS Decimal(18, 2)), 0, 1, 2, NULL, 776005536)
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([ID], [Contact], [Name], [Email], [DOB], [NIC]) VALUES (1, 776005535, N'Abc Patient', N'p@p.com', N'5/15/1995 12:00:00 AM', N'952131290v')
INSERT [dbo].[Patients] ([ID], [Contact], [Name], [Email], [DOB], [NIC]) VALUES (2, 752612802, N'new Patient', N'p1@p.com', N'5/15/1995 12:00:00 AM', N'952131291v')
INSERT [dbo].[Patients] ([ID], [Contact], [Name], [Email], [DOB], [NIC]) VALUES (3, 776005536, N'new Patient 1', N'p11@p.com', N'5/15/1995 12:00:00 AM', N'952131292v')
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([ID], [TrackNo], [Amount], [dateTime], [PaymentType], [Contact], [Prescription_ID]) VALUES (1, 1, 846, CAST(N'2018-01-01T10:33:04.000' AS DateTime), N'Cash', 776005535, 1)
INSERT [dbo].[Payments] ([ID], [TrackNo], [Amount], [dateTime], [PaymentType], [Contact], [Prescription_ID]) VALUES (2, 2, 576, CAST(N'2018-01-01T10:34:54.000' AS DateTime), N'Card', 752612802, 2)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Prescription_details] ON 

INSERT [dbo].[Prescription_details] ([ID], [Name], [discription], [Quantity], [TrackNo], [Price], [GetDrug_Inventory_ID]) VALUES (1, N'Drug 1', N'Not fatel', 5, 1, CAST(500.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Prescription_details] ([ID], [Name], [discription], [Quantity], [TrackNo], [Price], [GetDrug_Inventory_ID]) VALUES (2, N'Drug 2', N'Not fatel', 5, 1, CAST(250.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Prescription_details] ([ID], [Name], [discription], [Quantity], [TrackNo], [Price], [GetDrug_Inventory_ID]) VALUES (3, N'Drug 4', N'Not fatel', 12, 1, CAST(96.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Prescription_details] OFF
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([ID], [TrackNo], [Deseas_Type], [Description], [DateTime], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (1, 1, N'Cold', N'Not fatel', CAST(N'2017-11-01T00:00:00.000' AS DateTime), 1, NULL, 776005535)
INSERT [dbo].[Prescriptions] ([ID], [TrackNo], [Deseas_Type], [Description], [DateTime], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (2, 2, N'Fever', N'Dengue', CAST(N'2017-12-01T00:00:00.000' AS DateTime), 3, NULL, 752612802)
INSERT [dbo].[Prescriptions] ([ID], [TrackNo], [Deseas_Type], [Description], [DateTime], [Doctor_ID], [Patient_ID], [Patient_Contact]) VALUES (3, 3, N'Disease 1', N'disc', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 4, NULL, 776005536)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
SET IDENTITY_INSERT [dbo].[Specilizations] ON 

INSERT [dbo].[Specilizations] ([ID], [Name], [Discription]) VALUES (1, N'Addiction psychiatrist', NULL)
INSERT [dbo].[Specilizations] ([ID], [Name], [Discription]) VALUES (2, N'Allergist (immunologist)', NULL)
INSERT [dbo].[Specilizations] ([ID], [Name], [Discription]) VALUES (3, N'Anesthesiologist', NULL)
SET IDENTITY_INSERT [dbo].[Specilizations] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [contact], [email], [nic], [dob], [role], [Password]) VALUES (1, N'Default User', 0, N'admin@a.com', NULL, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'admin', N'123')
INSERT [dbo].[Users] ([ID], [Name], [contact], [email], [nic], [dob], [role], [Password]) VALUES (2, N'Clix', 777665689, N'clix@gmail.com', N'943533288v', CAST(N'1976-08-07T00:00:00.000' AS DateTime), N'admin', N'123')
INSERT [dbo].[Users] ([ID], [Name], [contact], [email], [nic], [dob], [role], [Password]) VALUES (3, N'Daisy Jones', 123456789, N'daisy@gmail.com', N'1651651651615v', CAST(N'1989-03-16T00:00:00.000' AS DateTime), N'medicalsuperindent', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Specilization_ID]   ******/
CREATE NONCLUSTERED INDEX [IX_Specilization_ID] ON [dbo].[Doctors]
(
	[Specilization_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Drug_Category_ID]    ******/
CREATE NONCLUSTERED INDEX [IX_Drug_Category_ID] ON [dbo].[Drug_Inventory]
(
	[Drug_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Drug_Inventry_ID]    ******/
CREATE NONCLUSTERED INDEX [IX_Drug_Inventry_ID] ON [dbo].[Drug_Purchase]
(
	[Drug_Inventry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Drug_Supplier_ID]   ******/
CREATE NONCLUSTERED INDEX [IX_Drug_Supplier_ID] ON [dbo].[Drug_Purchase]
(
	[Drug_Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctor_ID]    ******/
CREATE NONCLUSTERED INDEX [IX_Doctor_ID] ON [dbo].[Patient_Channel]
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_ID_Patient_Contact]    ******/
CREATE NONCLUSTERED INDEX [IX_Patient_ID_Patient_Contact] ON [dbo].[Patient_Channel]
(
	[Patient_ID] ASC,
	[Patient_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctor_ID]   ******/
CREATE NONCLUSTERED INDEX [IX_Doctor_ID] ON [dbo].[Patient_Channel_Cancel]
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_ID_Patient_Contact]    ******/
CREATE NONCLUSTERED INDEX [IX_Patient_ID_Patient_Contact] ON [dbo].[Patient_Channel_Cancel]
(
	[Patient_ID] ASC,
	[Patient_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contact]    ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Contact] ON [dbo].[Patients]
(
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescription_ID]    ******/
CREATE NONCLUSTERED INDEX [IX_Prescription_ID] ON [dbo].[Payments]
(
	[Prescription_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GetDrug_Inventory_ID]  ******/
CREATE NONCLUSTERED INDEX [IX_GetDrug_Inventory_ID] ON [dbo].[Prescription_details]
(
	[GetDrug_Inventory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctor_ID]   ******/
CREATE NONCLUSTERED INDEX [IX_Doctor_ID] ON [dbo].[Prescriptions]
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_ID_Patient_Contact]   ******/
CREATE NONCLUSTERED INDEX [IX_Patient_ID_Patient_Contact] ON [dbo].[Prescriptions]
(
	[Patient_ID] ASC,
	[Patient_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_email]  ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctors_dbo.Specilizations_Specilization_ID] FOREIGN KEY([Specilization_ID])
REFERENCES [dbo].[Specilizations] ([ID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_dbo.Doctors_dbo.Specilizations_Specilization_ID]
GO
ALTER TABLE [dbo].[Drug_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Drug_Inventory_dbo.Drug_Category_Drug_Category_ID] FOREIGN KEY([Drug_Category_ID])
REFERENCES [dbo].[Drug_Category] ([ID])
GO
ALTER TABLE [dbo].[Drug_Inventory] CHECK CONSTRAINT [FK_dbo.Drug_Inventory_dbo.Drug_Category_Drug_Category_ID]
GO
ALTER TABLE [dbo].[Drug_Purchase]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Drug_Purchase_dbo.Drug_Inventory_Drug_Inventry_ID] FOREIGN KEY([Drug_Inventry_ID])
REFERENCES [dbo].[Drug_Inventory] ([ID])
GO
ALTER TABLE [dbo].[Drug_Purchase] CHECK CONSTRAINT [FK_dbo.Drug_Purchase_dbo.Drug_Inventory_Drug_Inventry_ID]
GO
ALTER TABLE [dbo].[Drug_Purchase]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Drug_Purchase_dbo.Drug_Supplier_Drug_Supplier_ID] FOREIGN KEY([Drug_Supplier_ID])
REFERENCES [dbo].[Drug_Supplier] ([ID])
GO
ALTER TABLE [dbo].[Drug_Purchase] CHECK CONSTRAINT [FK_dbo.Drug_Purchase_dbo.Drug_Supplier_Drug_Supplier_ID]
GO
ALTER TABLE [dbo].[Patient_Channel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_Channel_dbo.Doctors_Doctor_ID] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctors] ([ID])
GO
ALTER TABLE [dbo].[Patient_Channel] CHECK CONSTRAINT [FK_dbo.Patient_Channel_dbo.Doctors_Doctor_ID]
GO
ALTER TABLE [dbo].[Patient_Channel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_Channel_dbo.Patients_Patient_ID_Patient_Contact] FOREIGN KEY([Patient_ID], [Patient_Contact])
REFERENCES [dbo].[Patients] ([ID], [Contact])
GO
ALTER TABLE [dbo].[Patient_Channel] CHECK CONSTRAINT [FK_dbo.Patient_Channel_dbo.Patients_Patient_ID_Patient_Contact]
GO
ALTER TABLE [dbo].[Patient_Channel_Cancel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_Channel_Cancel_dbo.Doctors_Doctor_ID] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctors] ([ID])
GO
ALTER TABLE [dbo].[Patient_Channel_Cancel] CHECK CONSTRAINT [FK_dbo.Patient_Channel_Cancel_dbo.Doctors_Doctor_ID]
GO
ALTER TABLE [dbo].[Patient_Channel_Cancel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_Channel_Cancel_dbo.Patients_Patient_ID_Patient_Contact] FOREIGN KEY([Patient_ID], [Patient_Contact])
REFERENCES [dbo].[Patients] ([ID], [Contact])
GO
ALTER TABLE [dbo].[Patient_Channel_Cancel] CHECK CONSTRAINT [FK_dbo.Patient_Channel_Cancel_dbo.Patients_Patient_ID_Patient_Contact]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Prescriptions_Prescription_ID] FOREIGN KEY([Prescription_ID])
REFERENCES [dbo].[Prescriptions] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Prescriptions_Prescription_ID]
GO
ALTER TABLE [dbo].[Prescription_details]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescription_details_dbo.Drug_Inventory_GetDrug_Inventory_ID] FOREIGN KEY([GetDrug_Inventory_ID])
REFERENCES [dbo].[Drug_Inventory] ([ID])
GO
ALTER TABLE [dbo].[Prescription_details] CHECK CONSTRAINT [FK_dbo.Prescription_details_dbo.Drug_Inventory_GetDrug_Inventory_ID]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescriptions_dbo.Doctors_Doctor_ID] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctors] ([ID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_dbo.Prescriptions_dbo.Doctors_Doctor_ID]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescriptions_dbo.Patients_Patient_ID_Patient_Contact] FOREIGN KEY([Patient_ID], [Patient_Contact])
REFERENCES [dbo].[Patients] ([ID], [Contact])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_dbo.Prescriptions_dbo.Patients_Patient_ID_Patient_Contact]
GO
/****** Object:  StoredProcedure [dbo].[addDoc]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addDoc]
(
@DocName nvarchar(max),
@quli nvarchar(max),
@contcat int,
@fee decimal(18,2),
@speclize int

)
as
begin
insert into [dbo].[Doctors]([Name],[Qualification],[Fee],[Contact],[Specilization_ID]) values (@DocName,@quli,@fee,@contcat,@speclize)
end

GO
/****** Object:  StoredProcedure [dbo].[addDrugInventry]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[addDrugInventry]
(
@Name nvarchar(max),
@disc nvarchar(max),
@unitSellingPrice decimal(18,2),
@reorder int,
@unitBuyingPri decimal(18,2),
@drugType nvarchar(max),
@shelf nvarchar(max),
@category int,
@issued int=0,
@available int =0
)
as 
begin
insert into [dbo].[Drug_Inventory]([Name],[Description],[Unit_Selling_Price],[Reorder_Level],[Unit_Buying_Price],[Drug_Type],[Shelf],[Drug_Category_ID],[Issued_Quantity],[availableQuantity])
values(@Name,@disc,@unitSellingPrice,@reorder,@unitBuyingPri,@drugType,@shelf,@category,@issued,@available)
end


GO
/****** Object:  StoredProcedure [dbo].[AddDrugToList]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddDrugToList]
(
@DrugID int,
@disc nvarchar(max),
@qty int,
@track int,
@price decimal(18,2)
)
as 
begin

BEGIN TRANSACTION [Tran1]

BEGIN TRY

declare @name nvarchar(max)

select @name= [Name] from [dbo].[Drug_Inventory] where [ID]=@DrugID--getting the drugname

declare @drugQty int
declare @drugUpdatedQty int

select @drugQty=[availableQuantity] from [dbo].[Drug_Inventory]where [ID]=@DrugID--getting available qty

set @drugUpdatedQty=@drugQty-@qty
declare @issuedCurrent int
declare @issuedUpdated int

select @issuedCurrent=[Issued_Quantity]  from [dbo].[Drug_Inventory]where [ID]=@DrugID--getting current issued stock
set @issuedUpdated =@issuedCurrent+@qty

update [dbo].[Drug_Inventory] set [availableQuantity]=@drugUpdatedQty,[Issued_Quantity]=@issuedUpdated where[ID]=@DrugID --udating stock 

insert into [dbo].[Prescription_details] ([Name],[discription],[Quantity],[TrackNo],[Price]) 
values(@name,@disc,@qty,@track,@price) 

COMMIT TRANSACTION [Tran1]

END TRY
BEGIN CATCH
  ROLLBACK TRANSACTION [Tran1]
END CATCH  

end
GO
/****** Object:  StoredProcedure [dbo].[addPresc1]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addPresc1]
(
@deseasetype nvarchar(max),
@description nvarchar(max),
@patientContact int,
@doctorId int,
@tracking int,
@date Datetime

)
as
begin
insert into [dbo].[Prescriptions] ([Deseas_Type],[Description],[Doctor_ID],[Patient_Contact],[TrackNo],[DateTime]) 
values(@deseasetype,@description,@doctorId,@patientContact,@tracking,@date)
end

GO
/****** Object:  StoredProcedure [dbo].[appoinmentCancelCountMonth]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[appoinmentCancelCountMonth]
as
begin

select year([dbo].[Patient_Channel_Cancel].[ChannelDate]) as Years,month([dbo].[Patient_Channel_Cancel].[ChannelDate]) as Months,count([dbo].[Patient_Channel_Cancel].ID) as appoinmentCancelCount from 
[dbo].[Patient_Channel_Cancel]
GROUP BY YEAR([dbo].[Patient_Channel_Cancel].[ChannelDate]), MONTH([dbo].[Patient_Channel_Cancel].[ChannelDate])
						 ORDER BY YEAR([dbo].[Patient_Channel_Cancel].[ChannelDate]), MONTH([dbo].[Patient_Channel_Cancel].[ChannelDate])

end

GO
/****** Object:  StoredProcedure [dbo].[appoinmentCountMonth]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[appoinmentCountMonth]
as
begin

select year([dbo].[Patient_Channel].[ChannelDate]) as Years,month([dbo].[Patient_Channel].[ChannelDate]) as Months,count([dbo].[Patient_Channel].ID) as appoinmentCount from 
[dbo].[Patient_Channel]
GROUP BY YEAR([dbo].[Patient_Channel].[ChannelDate]), MONTH([dbo].[Patient_Channel].[ChannelDate])
						 ORDER BY YEAR([dbo].[Patient_Channel].[ChannelDate]), MONTH([dbo].[Patient_Channel].[ChannelDate])

end

GO
/****** Object:  StoredProcedure [dbo].[cancelAppoinment]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[cancelAppoinment]
(
@id int
)
as
begin

BEGIN TRANSACTION [Tran1]

BEGIN TRY

INSERT INTO [dbo].[Patient_Channel_Cancel] ([ID],[ChannelDate],[ChannelTime],[Fee],[RoomNumber],[ChannelNumber],[Patient_ID],[Patient_Contact],[Doctor_ID])
SELECT [ID],[ChannelDate],[ChannelTime],[Fee],[RoomNumber],[ChannelNumber],[Patient_ID],[Patient_Contact],[Doctor_ID]
FROM [dbo].[Patient_Channel]
WHERE [ID]=@id;

DELETE FROM [dbo].[Patient_Channel]
WHERE [ID]=@id;


COMMIT TRANSACTION [Tran1]

END TRY
BEGIN CATCH
 SELECT   
        ERROR_NUMBER() AS ErrorNumber  
       ,ERROR_MESSAGE() AS ErrorMessage; 

  ROLLBACK TRANSACTION [Tran1]
END CATCH  
end



GO
/****** Object:  StoredProcedure [dbo].[drugInventryReportData]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[drugInventryReportData]
as
begin

SELECT        Drug_Inventory.ID,Drug_Inventory.Name, Drug_Inventory.Unit_Selling_Price, Drug_Category.Name AS Category, Drug_Inventory.Reorder_Level, Drug_Inventory.Drug_Type, Drug_Inventory.Shelf, Drug_Inventory.availableQuantity
FROM            Drug_Category INNER JOIN
                         Drug_Inventory ON Drug_Category.ID = Drug_Inventory.Drug_Category_ID
end
GO
/****** Object:  StoredProcedure [dbo].[DrugqtyPurchasedForTheMonth]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DrugqtyPurchasedForTheMonth] 
(
@DID int
)
as
begin

select year(Drug_Purchase.Date) as Years,month(Drug_Purchase.Date) as Months,Drug_Inventory.Name, Drug_Category.Name AS Cat, sum( Drug_Purchase.Quantity)as Qty
FROM            Drug_Category INNER JOIN
                         Drug_Inventory ON Drug_Category.ID = Drug_Inventory.Drug_Category_ID INNER JOIN
                         Drug_Purchase ON Drug_Inventory.ID = Drug_Purchase.Drug_Inventry_ID where Drug_Inventory.ID=@DID
GROUP BY YEAR(Drug_Purchase.Date), MONTH(Drug_Purchase.Date),Drug_Category.Name,Drug_Inventory.Name
						 ORDER BY YEAR(Drug_Purchase.Date), MONTH(Drug_Purchase.Date) 

end

GO
/****** Object:  StoredProcedure [dbo].[DrugqtyPurchasedForTheMonthAll]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DrugqtyPurchasedForTheMonthAll]

as
begin

select year(Drug_Purchase.Date) as Years,month(Drug_Purchase.Date) as Months,Drug_Inventory.Name, Drug_Category.Name AS Cat, sum( Drug_Purchase.Quantity)as Qty
FROM            Drug_Category INNER JOIN
                         Drug_Inventory ON Drug_Category.ID = Drug_Inventory.Drug_Category_ID INNER JOIN
                         Drug_Purchase ON Drug_Inventory.ID = Drug_Purchase.Drug_Inventry_ID 
GROUP BY YEAR(Drug_Purchase.Date), MONTH(Drug_Purchase.Date),Drug_Category.Name,Drug_Inventory.Name
						 ORDER BY YEAR(Drug_Purchase.Date), MONTH(Drug_Purchase.Date) 

end


GO
/****** Object:  StoredProcedure [dbo].[GetAppoinmentNum]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetAppoinmentNum] 
(
@DocId int,
@date nvarchar(50)
)
as
begin
select max([ChannelNumber]) from [dbo].[Patient_Channel] where  [Doctor_ID]=@DocId and [ChannelDate]=@date
end
GO
/****** Object:  StoredProcedure [dbo].[GetPurchaseReportChart]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetPurchaseReportChart]
(
@date date,
@date2 date
)
as
begin

SELECT         Drug_Purchase.Date,SUM( Drug_Purchase.Quantity) AS QTY,Drug_Inventory.Name AS Expr1
FROM            Drug_Inventory INNER JOIN
                         Drug_Purchase ON Drug_Inventory.ID = Drug_Purchase.Drug_Inventry_ID INNER JOIN
                         Drug_Supplier ON Drug_Purchase.Drug_Supplier_ID = Drug_Supplier.ID where  Drug_Purchase.Date between @date and @date2
						 GROUP BY Drug_Purchase.Date,Drug_Inventory.Name ORDER BY Drug_Purchase.Date
end



GO
/****** Object:  StoredProcedure [dbo].[GetPurchaseReportDay]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetPurchaseReportDay]
(
@date date
)
as
begin

SELECT        Drug_Purchase.ID, Drug_Inventory.Name, Drug_Purchase.Quantity, Drug_Supplier.Name AS Expr1
FROM            Drug_Inventory INNER JOIN
                         Drug_Purchase ON Drug_Inventory.ID = Drug_Purchase.Drug_Inventry_ID INNER JOIN
                         Drug_Supplier ON Drug_Purchase.Drug_Supplier_ID = Drug_Supplier.ID where  Drug_Purchase.Date=@date
end


GO
/****** Object:  StoredProcedure [dbo].[GetSalesReportDay]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetSalesReportDay]
(
@date date
)
as
begin

SELECT        Prescription_details.ID, Prescription_details.Name,Prescription_details.TrackNo, Prescription_details.Quantity, Prescription_details.Price
FROM            Prescription_details INNER JOIN
                         Prescriptions ON Prescription_details.TrackNo = Prescriptions.TrackNo where Prescriptions.DateTime=@date

end

GO
/****** Object:  StoredProcedure [dbo].[GetSalesReportDayChart]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetSalesReportDayChart]
(
@date date,
@date2 date
)
as
begin

SELECT         Prescriptions.DateTime as date,sum(Prescription_details.Price) as total
FROM            Prescription_details INNER JOIN
                         Prescriptions ON Prescription_details.TrackNo = Prescriptions.TrackNo where Prescriptions.DateTime between @date and @date2
						 group by  Prescriptions.DateTime

end
GO
/****** Object:  StoredProcedure [dbo].[GetSumSalesReportDay]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSumSalesReportDay]
(
@date date
)
as
begin

SELECT        sum( Prescription_details.Price)
FROM            Prescription_details INNER JOIN
                         Prescriptions ON Prescription_details.TrackNo = Prescriptions.TrackNo where Prescriptions.DateTime=@date

end


GO
/****** Object:  StoredProcedure [dbo].[makeAppoinment]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[makeAppoinment]
(
@date date,
@time time,
@fee decimal(18,2),
@roomNum int,
@channelNum int,
@patientContcat int,
@docId int
)
as
begin
insert into [dbo].[Patient_Channel]([ChannelDate],[ChannelTime],[Fee],[RoomNumber],[ChannelNumber],[Patient_Contact],[Doctor_ID])
values (@date,@time,@fee,@roomNum,@channelNum,@patientContcat,@docId)
end

GO
/****** Object:  StoredProcedure [dbo].[monthlySales]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[monthlySales]

as
begin
SELECT        Year(Prescriptions.DateTime)as SalesYear, MONTH(Prescriptions.DateTime) as SalesMonth,sum(Prescription_details.Price) as total
FROM            Prescription_details INNER JOIN
                         Prescriptions ON Prescription_details.TrackNo = Prescriptions.TrackNo 
						 GROUP BY YEAR(Prescriptions.DateTime), MONTH(Prescriptions.DateTime)
						 ORDER BY YEAR(Prescriptions.DateTime), MONTH(Prescriptions.DateTime)
end

GO
/****** Object:  StoredProcedure [dbo].[PayForPriscription]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create proc [dbo].[PayForPriscription]
(
@prisID int,
@track int,
@amount decimal(18,2),
@dateTime datetime,
@paymentType nvarchar(50),
@contact int
)
as
begin
insert into [dbo].[Payments] ([Prescription_ID],[TrackNo],[Amount],[dateTime],[PaymentType],[Contact]) 
values (@prisID,@track,@amount,@dateTime,@paymentType,@contact)
end
GO
/****** Object:  StoredProcedure [dbo].[PurchaseDrugInventry]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PurchaseDrugInventry]
(
@drugId int,
@date date,
@qty int,
@suppId int
)
as
begin

BEGIN TRANSACTION [Tran1]

BEGIN TRY

declare @AvQty int

select @AvQty=[availableQuantity] from [dbo].[Drug_Inventory] where [ID]=@drugId

declare @newQty int

set @newQty=@AvQty+@qty

update [dbo].[Drug_Inventory] set [availableQuantity]=@newQty where [ID]=@drugId

insert into [dbo].[Drug_Purchase] ([Drug_Inventry_ID],[Date],[Quantity],[Drug_Supplier_ID]) 
values (@drugId,@date,@qty,@suppId)

COMMIT TRANSACTION [Tran1]

END TRY
BEGIN CATCH
  ROLLBACK TRANSACTION [Tran1]
END CATCH  

end
GO
/****** Object:  StoredProcedure [dbo].[updateDoc]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateDoc]
(
@id int,
@DocName nvarchar(max),
@quli nvarchar(max),
@contcat int,
@fee decimal(18,2),
@speclize int

)
as 
begin
update [dbo].[Doctors] set [Name]=@DocName,[Qualification]=@quli,[Fee]=@fee,[Contact]=@contcat,[Specilization_ID]=@speclize where [ID]=@id
end
GO
/****** Object:  StoredProcedure [dbo].[updateDrugInventry]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateDrugInventry]
(
@Name nvarchar(max),
@disc nvarchar(max),
@unitSellingPrice decimal(18,2),
@reorder int,
@unitBuyingPri decimal(18,2),
@drugType nvarchar(max),
@shelf nvarchar(max),
@category int,
@DrugID int
)
as 
begin

update [dbo].[Drug_Inventory] set [Description]=@disc,[Unit_Selling_Price]=@unitSellingPrice,[Reorder_Level]=@reorder,[Unit_Buying_Price]=@unitBuyingPri,
[Drug_Type]=@drugType,[Shelf]=@shelf,[Name]=@Name where [ID]=@DrugID
end
GO
USE [master]
GO
